.recipe-form {
  margin: 0 auto;
  width: 25%;
  margin-top: 25px;
}
.submit-recipe-button {
  margin: 0 auto;
  margin-top: 25px;
  background-color: burlywood;
  border: none;
  padding: 5px;
  border-radius: 5px;
}
.text-input {
  width: 95%;
  margin: 0 auto;
  height: 2em;
  padding-left: 10px;
  border-radius: 5px;
  border: 1px solid black;
}
.errors-p {
  margin-top: 10px;
  padding: 5px;
  background-color: lightpink;
  border: 1px solid indianred;
  border-radius: 5px;
}
